// -------------------------
// HOME
// -------------------------

body{
	font-family: $primary-Lt;
	font-size: 16px;
	text-decoration: none;
	color: $primary;
	text-transform: uppercase;
	background-color: #000;
}
a{text-decoration: none;}
h1{ font-size: 28px; font-family: $primary-Md; line-height: 1.42857143; text-transform: uppercase; color: #404040; margin-top: 70px;}
h2,h3{ font-family: 'Open Sans', sans-serif; font-weight: bold;}
h2{ font-size: 16px; margin-top: 30px;}
h3{ font-size: 16px; color: $primary; text-transform: uppercase; margin-top: 30px; margin-bottom: 10px;}
p{font-size: 14px; font-family: 'Open Sans',sans-serif;line-height: 1.42857143;margin: 0;}

#top{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.main-banner{
  &.banner-01{
      height: 470px;
      background: url(../img/main-banner-01.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }
}
.title{
	text-align: center;
	margin-top: 20px;
}
.subtitle{
	font-family: GothamBd;
	text-align: center;
}
// RESPONSIVE
@media (min-width: 768px){
	.title{
		text-align: left;
	}
}

#footer {
  position: absolute;
  bottom: -120px;
  left: 0;
  right: 0;	
	.bg-black{
    padding: 35px;
    min-height: 190px;
	}
	img {
    height: 280px;
    position: absolute;
    top: -140px;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    z-index: 111;
	}
	.social-block {
		margin-top: 15px;
    a{
	    > span{
		    position: absolute;
		    font-size: 1.5em;
		    color: #fff;
		    margin-right: 25px;
			}
			.left{
		    right: 50%;
		    margin-right: 10px;				
			}
			.right{
		    left: 50%;
        margin-left: 10px;
			}
			.fa-circle{
		    color: $tertiary;
			}
			&:hover{
				.fa-circle{
					color: $primary;
				}
				.fa-facebook, .fa-twitter{
					color: black;
				}
			}
    }
    a:hover,
    a:active{
    	i{
    		color: $primary;
    	}
    }
	}
}