
/*NAVBAR*/
nav{
	&.navbar-fixed-top{
    position: relative;
	}
  .gotop{
    width: 360px;
    position: relative;
    top: 0;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
	}
    .seller-logo{
        position: absolute;
        width: 100%;
    }
    div > a img.min-social{
        width: 90px;
        height: auto;
        position: absolute;
        top: 5px;
        right: 0px;
    }
    div > a img.max-social{
        height: auto;
        position: absolute;
        top: 5px;
        right: 0px;
    }
    div > a img.min-fox{
        height: auto;
        position: absolute;
        top: 0px;
        left: 0px;
    }
    div > a img.max-fox{
        height: auto;
        position: absolute;
        top: 0px;
        left: 0px;
    }
    .social-block{
        width: 50px;
        position: absolute;
        top: 30px;
        right: 3px;
        -ms-transform: scale(0.8);
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}

#wrapper{
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


// RESPONSIVE
@media (min-width: 768px){
    nav{
      .gotop{
            width: 520px;
        }
        div > img.min-social{
            width: 120px;
        }
        div > img.min-fox{
            width: 120px;
        }
        .social-block{
            width: initial;
            transform: scale(1.1);
            top: 115px;
            right: 30px;
        }
    }
}
@media (min-width: 992px){
    nav{
      .gotop{
        // width: 200px;
        }
    }
}