
/*NAVBAR*/
nav{
	&.navbar-fixed-top{
    position: relative;
	}
	
  img{
    width: 160px;
    position: relative;
    top: 0;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
	}
}

#wrapper{
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}