// -------------------------
// HELPERS
// -------------------------

$theme-bg: #0081ab;
$theme-base: #00c1ff;
$theme-hl: #00c1ff;
$theme-txt: #fff;

$track-w: 20em;
$track-h: .25em;
$track-pad: $track-h/2;

$thumb-d: 1.5em;

$input-w: $track-w + $track-h + $thumb-d;
$input-h: 1.5em;

@mixin track() {
  border: none;
  padding: 0 $track-h/2;
  width: $track-w; height: $track-h;
  border-radius: $track-h/2;
  background: $theme-base;
}

@mixin track-focus() {
  .js & {
    background: 
      linear-gradient(transparent, transparent), 
      linear-gradient($theme-hl, $theme-hl) 
      no-repeat $theme-base;
    background-size: $track-w/5 100%, 60% 100%;
  }
}

@mixin track-active() {
  background: 
    radial-gradient(circle, 
      white $track-h/2, transparent $track-h/2) 
    ($track-w)/10 50% content-box border-box $theme-base;
  background-size: $track-w/5 100%;

  .js & {
    background: 
      radial-gradient(circle, 
        white $track-h/2, transparent $track-h/2) 
      ($track-w)/10 50% content-box border-box, 
      linear-gradient($theme-hl, $theme-hl) 
      no-repeat $theme-base;
    background-size: $track-w/5 100%, 60% 100%;
  }
}

@mixin thumb() {
  box-sizing: border-box;
  border: solid .25em $theme-bg;
  width: $thumb-d; height: $thumb-d;
  border-radius: 50%;
  background: $theme-base;
  transition: .3s;
}

@mixin thumb-focus() {
  border: solid 0 rgba($theme-bg, 0);
  background: $theme-hl;
}

html { background: $theme-bg; }

input[type='range'] {
  &, 
  &::-webkit-slider-runnable-track, 
  &::-webkit-slider-thumb {
    -webkit-appearance: none
  }
  position: absolute;
  top: 50%; left: 50%;
  padding: 0;
  width: $input-w; height: $input-h;
  transform: translate(-50%, -50%);
  //box-shadow: 0 0 .125em lime;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
  width: 65%;
  margin-left: -55px;

  &::-webkit-slider-runnable-track {
    margin: 0 $thumb-d/2;
    @include track();
  }
  &::-moz-range-track {
    @include track();
  }
  &::-ms-track {
    margin: 0 $thumb-d/2;
    @include track();
    color: transparent;
  }
  
  &::-webkit-slider-thumb {
    margin-top: ($track-h - $thumb-d)/2;
    @include thumb();
  }
  &::-moz-range-thumb {
    @include thumb();
    cursor: ew-resize;
  }
  &::-ms-thumb {
    @include thumb();
  }
  
  &::-ms-fill-lower, 
  &::-ms-fill-upper {
    background: transparent;
  }
  
  .js & /deep/ #thumb {
    position: relative;
    
    &:before, &:after {
      position: absolute;
      left: 50%;
      transition: .7s cubic-bezier(.175, .885, .32, 1.775);
    }
    
    &:before {
      width: 2*$thumb-d; height: 2*$thumb-d;
      border-radius: 50% 50% 0 50%;
      transform: translate(-50%, -$thumb-d) rotate(45deg) scale(.2);
      opacity: .01;
      background: $theme-hl;
      content: '';
    }
    
    &:after {
      width: 3em;
      opacity: .01;
      transform: translate(-50%, 0) scale(.2);
      color: $theme-txt;
      text-align: center;
      content: '60';
    }
  }
  
  &:focus {
    outline: none;
    
    &::-webkit-slider-runnable-track {
      @include track-focus();
    }
    &::-moz-range-track {
      @include track-focus();
    }
    &::-ms-fill-lower {
      background: $theme-hl;
    }

    &::-webkit-slider-thumb {
      @include thumb-focus();
    }
    &::-moz-range-thumb {
      @include thumb-focus();
    }
    &::-ms-thumb {
      @include thumb-focus();
    }
    
    .js & /deep/ #thumb {
      &:before {
        transform: translate(-50%, -3*$thumb-d) rotate(45deg) scale(1);
        opacity: .99;
      }
      &:after {
        transform: translate(-50%, -2.25*$thumb-d) scale(1);
        opacity: .99;
      }
    }
  }
  
  &:active {
    &::-webkit-slider-runnable-track {
      @include track-active();
    }
    &::-moz-range-track {
      @include track-active();
    }
    &::-ms-track {
      background: 
    radial-gradient(circle, 
      white $track-h/2, transparent $track-h/2) 
    ($track-w)/10 50% content-box border-box $theme-base;
  background-size: $track-w/5 100%;
    }
    &::-ms-fill-lower {
      background: 
    radial-gradient(circle, 
      white $track-h/2, transparent $track-h/2) 
    ($track-w)/10 50% content-box border-box $theme-hl;
  background-size: $track-w/5 100%;
    }

    &::-webkit-slider-thumb {
      @include thumb-focus();
    }
    &::-moz-range-thumb {
      @include thumb-focus();
    }
    &::-ms-thumb {
      @include thumb-focus();
    }
  }
}

input[type='range']{
  width: 70%;
  height: initial;
  left: 0px;
  top: 0;
  bottom: 0;
  margin-left: 0;
  transform: initial;
}
@media (min-width: 768px){
  input[type='range']{
    width: 80%;
  }
}
@media (min-width: 992px){
  input[type='range']{
    width: 85%;
  }
}
@media (min-width: 1200px){
  input[type='range']{
    width: 88%;
  }
}